@charset "utf-8";

/*  ================================
    Name: Elizabeth Sherwood
	Date: November 4, 2024
	Assignment: Grids Practice
	File Name: styles.css
    ================================
*/

/*  ============
    Main Styles:
    ============
*/

/*  =============
    Table Styles:
    =============
*/

/*  ==================
    Navigation Styles:
    ==================
*/

/*  ============
    Form Styles:
    ============
*/