@charset "utf-8";

/*  ================================
    Name: Elizabeth Sherwood
	Date: November 4, 2024
	Assignment: Grids Practice
	File Name: styles.css
    ================================
*/

/*  ============
    Main Styles:
    ============
*/
body {
    text-align: center;
    background-color: whitesmoke;
    margin: 5%;
    font-family: 'Times New Roman', Times, serif;
}

header {
    font-size: 3em;
    padding: 2%;
}

footer {
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    width: 100%;
    background-color: whitesmoke;
    font-size: 1em;
    font-variant: small-caps;
    line-height: 2em;
    padding-left: 1%;
}

/*  =============
    Table Styles:
    =============
*/

th {
    font-weight: bold;
    font-size: 1em;
    border: 1px solid grey;
}

td {
    border: 1px solid grey;
    width: 25em;
    height: 5em;
    background-color: rgb(233, 229, 229);
    box-shadow: 1px 1px grey;
}

.blueborder {
    border-left: 4px solid blue;
    background-color: whitesmoke;
}

.orangeborder {
    border-left: 4px solid orange;
    background-color: whitesmoke;
}

/*  ==================
    Navigation Styles:
    ==================
*/

/*  ============
    Form Styles:
    ============
*/